::selection {
  background: #5077f3;
  color: white;
}

img {
  margin-top: 1.5rem;
}

a {
  font-weight: 600;
  text-decoration: none;
  color: #5077f3;
}

a:active,
a:focus,
a:visited {
  color: #5077f3;
}

a:hover {
  transition: all 0.1s ease-in-out;
  background-color: #ff5b8b;
  color: white;
}

#content a {
  border-radius: 0.2rem;
  padding: 0 0.2rem;
  margin: 0 -0.2rem;
}

#allistair h1,
#allistair h2 {
  transition: all 0.15s ease-in-out;
}

#allistair:hover h1 {
  color: #ffd632;
  transform: translateX(-0.3rem);
}

#allistair:hover h2 {
  color: #78ae3d;
  transform: translateX(0.3rem);
}

.text {
  color: #444d7c;
}

.hello {
  color: #001350;
}

.javascript {
  color: #78ae3d;
}

.frontEnd {
  color: #ffd632;
}

.other {
  color: #e74c3c;
}

.header {
  color: #5077f3;
}

.emphasis {
  color: #001350;
}

.text-lite {
  color: #848bad;
}

.solid-line {
  border-bottom-style: solid;
  border-bottom-width: 0.125rem;
  border-color: #d9e0f0;
}

.dashed-line {
  border-bottom-style: dotted;
  border-bottom-width: 0.125rem;
  border-color: #d9e0f0;
}

#cv {
  max-width: 48rem;
}

.rating-bg {
  background-color: #e4e8f2;
  margin-top: 0.7rem;
}

.rating-four {
  background-color: #78ae3d;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
}

.rating-three {
  background-color: #ffd632;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
}

.rating-two {
  background-color: #e74c3c;
  padding-top: 0.55rem;
  padding-bottom: 0.55rem;
}

.accordion {
  cursor: pointer;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #ffd632;
  border-radius: 5px 5px 0 0;
}

.accordion:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}
.panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
